<% layout("/layouts/boilerplate") -%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-3">
                <h3>
                    <%=data.title %>
                </h3>
            </div>
            <div class="card col-6 offset-3 show-card">
                <img src="<%=data.image.url %>" class="card-img-top show-img" alt="listing image">
                <div class="card-body">
                    <p class="card-text">
                        <b>
                            <%=data.title %>
                        </b> <br>
                        <%=data.description %> <br>
                            &#8377;<%=data.price.toLocaleString("en-In") %> <br>
                                <%=data.location %> <br>
                                    <%=data.country %>
                    </p>
                </div>
            </div>
        </div>
        <div class="btns">
            <a href="/listings/<%= data._id %>/edit" class="btn btn-dark col-1 offset-3">Edit</a>

            <form method="post" action="/listings/<%= data._id %>?_method=DELETE">
                <button class="btn btn-dark  offset-5">Delete</button>
            </form>
        </div>
        <div class="col-8 offset-3 mb-3">
            <hr>
            <h4>Leave a Review</h4>
            <form method="post" action="/listings/<%= data._id %>/reviews" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" min="1" max="5" id="rating"  name="review[rating]" class="form-range">
                    
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea  class="form-control" id="comment" name="review[comment]" cols="20" rows="5" required></textarea>
                    <div class="invalid-feedback">
                        Please submit some comment for review
                    </div>
                </div>
                <br>
                <button class="btn btn-dark">Submit</button>
            </form>
        </div>
    </body>